@import 'src/styles/variables.scss';

.button {
    padding: 20px;
    cursor: pointer;
    background-color: $color-green;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: $color-white;
}