@import '/src/styles//variables.scss';

.title {
    margin-bottom: 100px;
    font-size: 60px;
    text-align: center;
}

.content {
    display: flex;
    gap: 100px;
    align-items: center
}

.img {
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from {
        transform: translateY(-15px);
    }

    to {
        transform: translateY(10px) scale(0.9);
    }
}

.imgContainer {
    position: relative;
    flex: 1;
    height: 500px;
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}

.input, .textArea {
    padding: 20px;
    color: $color-brown;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border: 3px solid $color-grey;
    outline: none;
}